Tools/n8n-automation-portfolio/Project/AI Multi-Sheet Business Summary Generator/AI Multi-Sheet Business Summary Generator.json
{
  "name": "AI Multi-Sheet Business Summary Generator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -784,
        -240
      ],
      "id": "77fbbe0b-bdea-4d97-ba29-f4979ad618f0",
      "name": "When chat message received",
      "webhookId": "d638c607-f1da-4d6f-8380-6ce9f48c0643"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an Operations Intelligence AI.\n\nAnalyze the provided business data only once.\n\nGenerate TWO reports:\n\n1. Executive Summary\n   Audience: Director\n   Keep it concise.\n   Maximum 1 sentence per field.\n\n2. Technical Report\n   Audience: Operations / Support Team\n   Include observations, metrics, probable causes and action items.\n\n\nRules:\n- Return ONLY valid JSON.\n- Do not explain calculations.\n- Keep every field under 8 words for Executive Summary report.\n- Keep every field under 15 words for Technical report.\n- Use business statuses instead of paragraphs for Executive Summary report.\n\nDetermine for Executive Summary:\n\nBusiness Health\n🟢 Good\n🟡 Warning\n🔴 Critical\n\nRevenue Status\nGrowing\nStable\nDeclining\n\nSupport Status\nHealthy\nAttention Needed\nCritical\n\nInventory Status\nHealthy\nLow Stock\nCritical\n\nFeedback Status\nPositive\nMixed\nNegative\n\nTop Issue\nOne short phrase only.\n\nRecommendation\nOne short actionable sentence.\n\nReturn exactly:\n\n{\n  \"date\":\"\",\n  \"businessHealth\":\"\",\n  \"revenueStatus\":\"\",\n  \"supportStatus\":\"\",\n  \"inventoryStatus\":\"\",\n  \"feedbackStatus\":\"\",\n  \"topIssue\":\"\",\n  \"recommendation\":\"\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -304,
        -240
      ],
      "id": "7188fb67-9625-4ab5-add6-7a7579ea09be",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -560,
        -16
      ],
      "id": "62c74a15-7fa0-438a-b545-33873de21a9b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xtzAg9Bu6vLsyYjl",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU",
          "mode": "list",
          "cachedResultName": "Business Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sales Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -432,
        -16
      ],
      "id": "b99c6c9d-3826-4763-9730-6e91c4c290c5",
      "name": "Read Sales Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HhEy8zg5sitp8W7o",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU",
          "mode": "list",
          "cachedResultName": "Business Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1730307971,
          "mode": "list",
          "cachedResultName": "Support Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU/edit#gid=1730307971"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -304,
        -16
      ],
      "id": "6cd946e9-20b6-4a43-a4c6-8e508643ba25",
      "name": "Read Support Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HhEy8zg5sitp8W7o",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"date\": \"\",\n\n  \"directorReport\": {\n    \"businessHealth\": \"\",\n    \"revenueStatus\": \"\",\n    \"supportStatus\": \"\",\n    \"inventoryStatus\": \"\",\n    \"feedbackStatus\": \"\",\n    \"topIssue\": \"\",\n    \"recommendation\": \"\"\n  },\n\n  \"technicalReport\": {\n    \"revenueAnalysis\": \"\",\n    \"supportAnalysis\": \"\",\n    \"inventoryAnalysis\": \"\",\n    \"feedbackAnalysis\": \"\",\n    \"rootCause\": \"\",\n    \"actionItems\": [\n      \"\",\n      \"\",\n      \"\"\n    ]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        -16
      ],
      "id": "47c49a40-b4c1-4bc2-8e43-172d0049ee6c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU",
          "mode": "list",
          "cachedResultName": "Business Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1359453076,
          "mode": "list",
          "cachedResultName": "Inventory Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU/edit#gid=1359453076"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -176,
        -16
      ],
      "id": "a3bd85ab-a6fe-4149-8022-51091ea95104",
      "name": "Read Inventory Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HhEy8zg5sitp8W7o",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU",
          "mode": "list",
          "cachedResultName": "Business Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2105852484,
          "mode": "list",
          "cachedResultName": "Feedback Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU/edit#gid=2105852484"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -48,
        -16
      ],
      "id": "68f93909-b94b-4552-9e1a-cef02b45e419",
      "name": "Read Feedback Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HhEy8zg5sitp8W7o",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU",
          "mode": "list",
          "cachedResultName": "Business Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 359355994,
          "mode": "list",
          "cachedResultName": "Summary report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU/edit#gid=359355994"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.output.date }}",
            "Business Health": "={{ $json.output.technicalReport.rootCause }}",
            "Revenue": "={{ $json.output.technicalReport.revenueAnalysis }}",
            "Support": "={{ $json.output.technicalReport.supportAnalysis }}",
            "Inventory": "={{ $json.output.technicalReport.inventoryAnalysis }}",
            "Feedback": "={{ $json.output.technicalReport.feedbackAnalysis }}",
            "Recommendation": "={{ $json.output.technicalReport.actionItems }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Health",
              "displayName": "Business Health",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Revenue",
              "displayName": "Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Support",
              "displayName": "Support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Inventory",
              "displayName": "Inventory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        -240
      ],
      "id": "14d6d13a-18c1-4c6c-adff-aa30cd4b1876",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HhEy8zg5sitp8W7o",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU",
          "mode": "list",
          "cachedResultName": "Business Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 493364018,
          "mode": "list",
          "cachedResultName": "Director Report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uS5PguqmXHV1t13sEBt9UsHGY6onjmoqHeWIxTeYyU/edit#gid=493364018"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('AI Agent').item.json.output.date }}",
            "Business Health": "={{ $('AI Agent').item.json.output.directorReport.businessHealth }}",
            "Revenue": "={{ $('AI Agent').item.json.output.directorReport.revenueStatus }}",
            "Support": "={{ $('AI Agent').item.json.output.directorReport.supportStatus }}",
            "Inventory": "={{ $('AI Agent').item.json.output.directorReport.inventoryStatus }}",
            "Feedback": "={{ $('AI Agent').item.json.output.directorReport.feedbackStatus }}",
            "Recommendation": "={{ $('AI Agent').item.json.output.directorReport.recommendation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Health",
              "displayName": "Business Health",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Revenue",
              "displayName": "Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Support",
              "displayName": "Support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Inventory",
              "displayName": "Inventory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        -240
      ],
      "id": "33ce09b5-cd77-4417-894b-e3365ad467b2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HhEy8zg5sitp8W7o",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "userKey": "uropd5p18pd3apjq6aou72o2g9h5br",
        "message": "Data updated in google sheet",
        "priority": 1,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        704,
        -240
      ],
      "id": "dd799634-5df6-41c2-a2fe-01e37d68dc7c",
      "name": "Push a message",
      "credentials": {
        "pushoverApi": {
          "id": "5xeveR1I4B7w2aXa",
          "name": "Pushover account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read Sales Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read Support Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Read Inventory Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read Feedback Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Push a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "194ee823-e700-46b7-b1cc-73a2d5f47b95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0d8345ee045d25b32f9523812003ec1910a51d8e0bccb3550c4c7e028423fbc8"
  },
  "nodeGroups": [],
  "id": "2vcKrr2ml3ZjZGwq",
  "tags": []
}